aiohttp>=3.10,<4
PyYAML>=6,<7
adafruit-circuitpython-pca9685>=3.4,<4
adafruit-blinka==9.2.0
adafruit-lgpio==0.2.2.0; python_version >= "3.13" and sys_platform == "linux" and platform_machine == "aarch64"
